:root {
  --main-color: #e7cecb;
  --primary-color: #333333;
  --main-font: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'Hiragino Sans',
    'ヒラギノ角ゴシック', 'Hiragino Kaku Gothic ProN', 'Hiragino Maru Gothic Pro',
    'Hiragino Maru Gothic ProN', sans-serif;
  --font-size-x-small: 0.625rem; /* 10px */
  --font-size-small: 0.75rem; /* 12px */
  --font-size-middle: 1rem; /* 16px */
  --font-size-large: 1.25rem; /* 20px */
  --font-size-m-large: 1.75rem; /* 28px */
  --font-size-x-large: 2rem; /* 32px */
}
